.container {

  width: 95%;
  /* max-width: 80%; */
  margin: 5px auto;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 3px;


}

.container>* {

  background: var(--color-main);
  color: var(--color-light);
  font-size: 30px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

}

.header {

  grid-column: 1/-1;
  grid-row: 1/2;
  position: sticky;
  top: -0.5px;

}

.left-sidebar {

  grid-column: 1/2;
  grid-row: 2/3;

}

.hero {

  grid-column: 2/3;
  grid-row: 2/3;

}

.right-sidebar {

  grid-column: 3/4;
  grid-row: 2/3;

}

.footer {

  grid-column: 1/-1;
  grid-row: 3/4;
  margin-bottom: auto;

}

@media (max-width:1200px) {

  .container {

    grid-template-columns: 200px 1fr;

  }

  .right-sidebar {

    display: none;

  }

}


@media (max-width:700px) {

  .container {

    grid-template-columns: 1fr;

  }

  .hero {

    grid-column: 1/-1;
    grid-row: 2/3;

  }

  .right-sidebar {

    display: none;

  }

  .left-sidebar {

    display: none;

  }

}