.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 5% 1fr 5%;
  gap: 2px;
}

.container>*:not(nav) {
  background: var(--color-main);
  color: var(--color-light);
}

nav {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 15px 5%;
  display: flex;
  align-items: center;
  background: var(--color-shade);
  box-shadow: inset 0px -1px 0px var(--color-inset);
  position: sticky;
  top: 0px;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  gap: 2px;
}

main>* {
  background: var(--color-complementary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lside {
  grid-column: 1/2;
}

.hero {
  grid-column: 2/3;
}

.rside {
  grid-column: 3/4;
}

footer {
  grid-column: 2/3;
  grid-row: 3/4
}